@import url("https://fonts.googleapis.com/css?family=Oleo+Script&display=swap");

body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4 {
    font-family: 'Oleo Script', cursive;
}

.home-gif{
    height: 400px;
}

.btn-purple {
    color: #fff !important;
    background: #39008C !important;
    height: 36px;
    text-transform: capitalize !important;
}

.nav-changes{
    width: 100% !important;
}

.experience-logo-size {
    height: 50px ;
    width: 120px;
}

.highlight-Letter{
    color: #39008C;
    font-size: 26px;
    font-weight: 600;
}

.iitm-logo{
    height: 100px;
    width: 100px;
}

.animate-box {
	.js & {
		opacity: 0;
	}
}